<ion-view view-title="Login">
  <ion-content padding="true">
    <h2>Connexion</h2>
    <button class="button button-block">via Facebook</button>
    <button class="button button-block">via Twitter</button>
    <button class="button button-block" ui-sref="main.login.viaEmail">via Email</button>
    <button class="button button-block">Rester anonyme <span style="font-size: .6em;">(mauvaise ambiance)</span></button>

    <ion-nav-view name="loginForm"></ion-nav-view>
    
  </ion-content>
</ion-view>