<ion-view view-title="Shuffle">
  <ion-content padding="true">

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/logo-sm.png">
        <h2>{{ShuffleJokesCtrl.getJoke().title}}</h2>
        <p>par <i>{{ShuffleJokesCtrl.getJokeAuthor()}}</i></p>
      </div>

      <div class="item item-body">
        <p>
          {{ShuffleJokesCtrl.getJoke().content}}
        </p>

        <p>
          <span class="subdued">Score: <b ng-class="{
            'balanced': ShuffleJokesCtrl.positiveScore(),
            'assertive': !ShuffleJokesCtrl.positiveScore()}">
              {{ShuffleJokesCtrl.getJoke().score}}
            </b>
          </span>
          <!-- <span class="subdued">Rank: <b>#234</b></span> -->
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a href="#" class="tab-item">
          <i class="icon ion-share"></i>
          Partager
        </a>

        <a href="#" class="tab-item">
          <i class="icon ion-heart assertive"></i>
          Garder dans mes favoris
        </a>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-large button-dark" ng-click="ShuffleJokesCtrl.downVote()">C'est nul</button>
      </div>
      <div class="col">
        <button class="button button-block button-outline button-large button-balanced" ng-click="ShuffleJokesCtrl.upVote()">Excel' !</button>
      </div>
    </div>
  </ion-content>
</ion-view>