<ion-view view-title="Shuffle">
  <ion-content padding="true">

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/logo-sm.png">
        <h2>{{ShuffleJokesCtrl.getJoke().title}}</h2>
        <p>par tvanesse</p>
      </div>

      <div class="item item-body">
        <p>
          {{ShuffleJokesCtrl.getJoke().content}}
        </p>

        <p>
          <a href="#" class="subdued balanced">Score: <b>+23</b></a>
          <a href="#" class="subdued">Rank: <b>#234</b></a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a href="#" class="tab-item">
          <i class="icon ion-share"></i>
          Partager
        </a>

        <a href="#" class="tab-item">
          <i class="icon ion-heart assertive"></i>
          Garder dans mes favoris
        </a>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-large button-dark" ng-click="ShuffleJokesCtrl.nextJoke()">Passe pas</button>
        <!-- <button class="button button-block button-outline button-large button-dark icon-left ion-close-round">Passe pas</button> -->
      </div>
      <div class="col">
        <!-- <button class="button button-block button-outline button-large button-balanced icon-left ion-checkmark-round">Ca passe</button> -->
        <button class="button button-block button-outline button-large button-balanced" ng-click="ShuffleJokesCtrl.nextJoke()">Ca passe</button>
      </div>
    </div>
  </ion-content>
</ion-view>